body {
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

nav {
    background: #444;
}

nav a:hover {
    text-transform: uppercase;
    background: green;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.contact-form {
    width: 50%;
    margin: auto;
    background-color: rgb(142, 179, 204);
    padding: 12px;
    color: black;
    border-radius: 25px;
}